.usluga {
	padding-top: 100px;
	padding-bottom: 100px;

	&__title {
		@include title;
	}

	&__menu {
		padding-top: 50px;
	}

	&__menu-list {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	&__menu-name {
		border: var(--border);
		border-radius: var(--border-radius-small);
		padding: 10px;

		&:hover {
			background-color: var(--color-accent);
			color: var(--color-light);
		}

		&.act {
			background-color: var(--color-accent);
			color: var(--color-light);
		}
	}

	&__list {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
		position: relative;
		background-color: var(--color-accent-light);
		padding: 25px;
		padding-bottom: 100px;
		border-radius: var(--border-radius-small);

		opacity: 1;
		transition: opacity 0.5s ease; /* Плавный переход для opacity */

		@include shadow;

		&.hide {
			opacity: 0;
			pointer-events: none; /* Чтобы элемент не был кликабельным */
		}

		&.hidden{
			display: none;
		}
	}

	&__img {
		border-radius: var(--border-radius-small);
	}

	&__item-title {
		padding-top: 20px;
	}

	&__item-descr {
		padding-top: 20px;
	}

	&__item-btns{
		position: absolute;
		bottom: 20px;
		left: 20px;
	}

	&__item-btn {
		margin-top: 20px;
	}
}
